.home-contenido{
    max-width: 600px;
    color: #fff;
    text-align: right;
    margin-left: 50px;
}
.home-contenido h1{
    font-size: 55px;
    line-height: 0;
}
.home-contenido h3{
    font-size: 40px;
    color: #00abf0;
    -webkit-text-stroke: .5px #fff;
}
